<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="icon" href="/assets/images/favicon.ico?v=1.1">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
    </div>
	


    <!-- MAIN CONTENT -->
	
	<!-- NAV BAR -->
<div class="container">	

<nav>
 <ul>
  <li class="home"><a href="/CoC/index.html">Home</a></li> 
  <li class="des"><a href="/CoC/des.html">Demon's Souls</a></li> 
  <li class="ds1"><a href="/CoC/ds1.html">Dark Souls</a></li> 
  <li class="ds2"><a href="/CoC/ds2.html">Dark Souls II</a></li> 
  <li class="ds3"><a href="/CoC/ds3.html">Dark Souls III</a></li> 
  <li class="bb"><a href="/CoC/bb.html">Bloodborne</a></li> 
  <li class="nioh"><a href="/CoC/nioh.html">Nioh</a></li> 
  <li class="hk"><a href="/CoC/hollowknight.html">Hollow Knight</a></li> 
 </ul>
</nav>

</div>
	<div id="main_content_wrap" class="outer">
	  <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
      </footer>
    </div>

    </body>
</html>